<ion-view title="History" id="page2" style="background-color:#42163F;">
    <ion-content padding="true" class="has-header">
        <h1 id="history-heading2" style="color:#FFFFFF;text-align:center;">Today:</h1>
        <div>
            <img src="img/p2QQWTPwTSWxlkslj0oI_wolfram-alpha-iphone-app.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h1 id="history-heading3" style="color:#FFFFFF;text-align:center;">9/16/16:</h1>
        <div>
            <img src="img/XseYVn5DQvmxlPyn4bV0_wolfram-alpha-iphone-app.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>