<ion-view title="SnapMath" id="page1" style="background-color:#42163F;">
    <ion-content padding="true" class="has-header">
        <h1 id="snapMath-heading1" style="color:#FFFFFF;text-align:center;">Welcome to SnapMath</h1>
        <div id="snapMath-markdown1" style="color:#FFFFFF;text-align:center;">
            <p>Tap to take a Snap of your homework</p>
        </div>
        <button id="snapMath-button1" class="button button-positive  button-block">Take Picture</button>
        <a ui-sref="snapMath2.history" id="snapMath-button2" class="button button-positive  button-block">History</a>
        <button id="snapMath-button3" class="button button-positive  button-block">Solve!</button>
    </ion-content>
</ion-view>